

body {
  background-color: #AAACB5;
}

.bookshelf {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 10px #A87328 solid;
  overflow: hidden;
  background-image: -webkit-linear-gradient(#241909, #2c1e0b 220px, #b87e2c 220px, #b87e2c 222px, #A87328 222px, #A87328 228px, #986824 228px, #986824 230px);
  background-image: linear-gradient(#241909, #2c1e0b 220px, #b87e2c 220px, #b87e2c 222px, #A87328 222px, #A87328 228px, #986824 228px, #986824 230px);
  background-size: 10px 230px;
  box-shadow: 0px 1000px 0px 400px #7A7668;
}

.book {
  height: 200px;
  width: 40px;
  float: left;
  color: white;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
}

.book-tilted {
  float: left;
  width: 74px;
}

.book-tilted > .book {
  -webkit-transform: translateY(-3px) translateX(15px) rotate(9deg);
      -ms-transform: translateY(-3px) translateX(15px) rotate(9deg);
          transform: translateY(-3px) translateX(15px) rotate(9deg);
}

.book:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.book-green {
  background-color: darkgreen;
  border-left: 2px solid #007800;
  border-right: 2px solid #005000;
}

.book-blue {
  background-color: #0C347D;
  border-left: 2px solid #0e3c90;
  border-right: 2px solid #0a2c6a;
}

.book-umber {
  background-color: #54290C;
  border-left: 2px solid #66320f;
  border-right: 2px solid #422009;
}

.book-springer {
  background-color: #EDED80;
  border-left: 2px solid #f0f092;
  border-right: 2px solid #eaea6e;
  color: black;
}

.book h2 {
  padding: 0;
  font-size: 1em;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotate(0.25turn) translateY(-35px);
      -ms-transform: rotate(0.25turn) translateY(-35px);
          transform: rotate(0.25turn) translateY(-35px);
  width: 170px;
}

.book h3 {
  padding: 0;
  font-size: 0.7em;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
      -ms-transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
          transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
  width: 150px;
}












.btn-file {
		position: relative;
		overflow: hidden;
}
.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
}



.generalfooter
{
position: absolute; left:0; right: 0; bottom: 0;
}

	html, body {

	  height: 100%;

	  width: 100%;

	}



	/* padded section */

	.pad-section {

	  padding: 50px 0;

	}

	.pad-section img {

	  width: 100%;

	}



	/* vertical-centered text */

	.text-vcenter {

	  display: table-cell;

	  text-align: center;

	  vertical-align: middle;

	}

	.text-vcenter h1 {

	  font-size: 4.5em;

	  font-weight: 700;

	  margin: 0;

	  padding: 0;

	}



	/* additional sections */

	#home {

	  background: url(../images/home.jpg) no-repeat center center fixed;

  display: table;

	  height: 100%;

	  position: relative;

	  width: 100%;

	  -webkit-background-size: cover;

	  -moz-background-size: cover;

	  -o-background-size: cover;

	  background-size: cover;

	}


	#information
{
background: url(../images/home.jpg)
display:table;
height: 800px;
position: relative;
width:100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	}
#information .panel{
opactiy: 0.50;
}
	#about {

	}



	#services {

	  background-color: #306d9f;

	  color: #ffffff;

	}

	footer {

	  padding: 20px 0;

	}

	footer .glyphicon {

	  color: #333333;

	  font-size: 60px;

	}

	footer .glyphicon:hover {

	  color: #306d9f;
	}








.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #00BB64 !important;color:#fff;}
.modal-register-btn{margin: 4% 33% 2% 33% ;width:100%;}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.modal-body-left{float:left; width:50%; padding-right:4%; border-right:4px solid #ddd;}
.modal-body-right{float:right; width:47%;}
.login-link{padding:0 20%;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
#center-line{position: absolute;  right: 265.7px;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;}
#modal-launcher{margin: 30% 0 0 30%; }
h1{border-bottom:0px solid #00BB64;}










#search {
margin-top:13px;
}
#search1{
margin-top:-3px;
}
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 100s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}


#forgot_pd{
position: relative;
top: 30%;
width: 50%;
height: 90%;
}
